<!DOCTYPE html>
<html lang="ja">
{% load i18n %}
<head>
	<meta charset="UTF-8">
	<title></title>
<style>
 b {
  background-color: #aea;
 }
</style>

</head>
<body>

<b>[{% trans "Summary" %}]</b>

<ul>
{% for jsonpair in jsonpairs %}
 <li>
  <a href="#{{ jsonpair.jsonlogname }}"><b>{{ jsonpair.jsonfilename }}</b></a>
 </li>
 {{jsonpair.jsonsummary}}
{% endfor %}
</ul>

<b>[{% trans "Detail" %}]</b>

{% for jsonpair in jsonpairs %}
<ul>
 <li>
  <a href="../../execjson/{{jobapplcode}}/{{ jsonpair.jsonlogname }}"><b id="{{jsonpair.jsonlogname}}" >{{ jsonpair.jsonfilename }}</b></a>
 </li>
 <pre>{{ jsonpair.jsonbody }}</pre>
</ul>
{% endfor %}
</body>
</html>
