<!DOCTYPE html>
<html lang="ja">
{% load i18n %}
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title></title>
 <link href="../static/bootstrap.min.css" rel="stylesheet">
 <script src="../static/jquery-1.10.2.js"></script>
 <script src="../static/jquery-ui-1.10.4.custom.js"></script>
 <script src="../static/vendor/jquery.ui.widget.js"></script>
 <script src="../static/jquery.fileupload.js"></script>
 <script src="../static/bootstrap.min.js"></script>
 <script>
 $(function() {
  $( "#jobformdata" ).sortable();
 }); 
 </script>
<style>
 .job {
  background-color: #EFF;
  border: 1pt;
  border-color: #000;
 }
 .operation {
  background-color: #FFE;
  border: 1pt;
  border-color: #000;
  text-indent: 10px;
 }
 #formcontrol {
  background-color: #EEF;
 }
 #formkind {
  background-color: #FEE;
 }
 #jobformheader {
  background-color: #EFE;
 }
</style>
</head>
<body>

<div id="jobtemplate" style="display:none">
<div class="job">
<b class="jobnumber"></b><b class="jobdelbutton">[-]</b> id: <input type="text" name="id">
{% trans "time" %}: <input type="text" name="time">
{% trans "iffail" %}: <input type="text" name="iffail">
</div>
</div>


<div id="otherstemplate" style="display:none">
<div class="operation">
{% if not settings.use_svg_form %}
{% trans "others" %}:<input type="text" name="name" value="others" style="display:none">
{% trans "filename" %}:<input type="text" name="filename">
{% else %}
{% trans "others" %}:<input type="text" name="name" value="others" style="display:none">
<svg width="300px" height="100px">
 <rect x="0" y="10" width="10" height="30" fill="#0000ff" stroke="#000000"/>
 <circle cx="230" cy="15" r="10" fill="#00ff00" fill-opacity="0.5"/>
 <foreignObject x="20" y="0" width="200" height="50">
   <body xmlns="http://www.w3.org/1999/xhtml">
    {% trans "filename" %}: <input type="text" name="filename">
   </body>
 </foreignObject>
</svg>
{% endif %}
</div>
</div>


<div id="sleepandexceptiontemplate" style="display:none">
<div class="operation">
(testonly)sleep and exception:<input type="text" name="name" value="sleepandexception" style="display:none">
sleep(sec):<input type="text" name="sleep">
Exception(yes or no):
<select name="exception">
<option value="yes">yes</option>
<option value="no">no</option>
</select>
</div>
</div>

{% for job in settings.jobs %}
<div id="{{ job.jobname }}template" style="display:none">
<div class="operation">
{% trans job.jobname %}:{% if job.jobname in settings.operationswithseveralops %}<b class="{{ job.jobname }}start">[+]</b>{% endif %}<input type="text" name="name" value="{{ job.jobname }}" style="display:none">
{% for arg in job.args %}
{% trans arg %}:
{% if arg in job.selectargs.keys %}
<select name="{{arg}}">
{% for selectname, options  in job.selectargs.items %}
{% if arg == selectname %}
{% for option in options %}
<option value="{{option.0}}">{{option.1}}</option>
{% endfor %}
{% endif %}
{% endfor %}
</select>
{% else %}
<input type="text" name="{{ arg }}">
{% endif %}
{% endfor %}
</div>
</div>
{% endfor %}



<form method="post" >
<div id="formcontrol">
<ul>
{% if user != None %}
 <li>
 user: {{user}}
 </li>
{% endif %}
 <li>
operation:<select id="sortofop" name="sortofop" onchange="addjob()">
<option value="dummy">Operation:</option>
{% for job in settings.jobs %}
<option value="{{ job.jobname }}">{% trans job.jobname %}</option>
{% endfor %}
<option value="others">{% trans "others" %}</option>
<option value="sleepandexception">(testonly)sleep-exception</option>
</select>
 </li>
</ul>
</div>
</form>



<form method="post" action="createjson" id="jobforms">{% csrf_token %} 

<div id="jobformheader">
{% trans "envcode" %}:
<select id="jobenvcode" name="jobenvcode">
 <option value="Prod">{% trans "Prod" %}</option>
 <option value="Dev">{% trans "Dev" %}</option>
</select>
{% trans "systemname" %}:<input id="jobapplcode" type="text" name="jobapplcode">
</div>

<div id="jobformdata">
</div>


<div id="jobformcontrol">
<input type="submit" value="save" class="btn btn-info" name="save" />
<input type="submit" value="exportjson" class="btn btn-info" name="createjson"/>
{% if role == "opsuser" %}
<input type="submit" value="execjson" class="btn btn-warning" name="execjson"/>
{% endif %}
</div>
</form>

<form method="get" action="clearcache" id="clearcache">{% csrf_token %} 
<input type="submit" value="clearcache" class="btn btn-info" name="clearcache" />
</form>

{% if user != None and settings.use_workflow %}
<form method="post" action="dbsave" id="dbsave">{% csrf_token %} 
<input type="submit" value="dbsave" class="btn btn-info" name="dbsave" />
</form>
<form method="post" action="dbload" id="dbload">{% csrf_token %} 
<input type="submit" value="dbload" class="btn btn-info" name="dbload" />
{% if role == "manager" or role == "opsuser" %}
<input type="text" name="dbuser" />
{% if role == "manager" %}
<input type="submit" value="dbapprove" class="btn btn-warning" name="dbapprove" />
{% endif %}
{% endif %}
</form>
{% endif %}

<form method="get" action=".">
<input type="submit" value="load" class="btn btn-info" id="load_and_reload" />|drag-and-drop-json-here|
</form>
<input id="fileupload" type="file" name="putjson" data-url="load" style="display:none">

<a href="../../execjson/">logdir</a>
{% if role == "opsuser" %}
<a href="dashboard">dashboard</a>
{% endif %}

<script src="../static/main.js"></script>
<script>
{{sessionjs|safe}}
</script>
</body>
</html>
