<!DOCTYPE html>
<html lang="ja">
{% load i18n %}
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title></title>
 <link href="../static/bootstrap.min.css" rel="stylesheet">
 <script src="../static/jquery-1.10.2.js"></script>
 <script src="../static/jquery-ui-1.10.4.custom.js"></script>
 <script src="../static/vendor/jquery.ui.widget.js"></script>
 <script src="../static/jquery.fileupload.js"></script>
 <script src="../static/bootstrap.min.js"></script>
 <script>
 $(function() {
  $( "#jobformdata" ).sortable();
 }); 
 </script>
<style>
 .job {
  background-color: #EFF;
  border: 1pt;
  border-color: #000;
 }
 .operation {
  background-color: #FFE;
  border: 1pt;
  border-color: #000;
  text-indent: 10px;
 }
 #formcontrol {
  background-color: #EEF;
 }
 #formkind {
  background-color: #FEE;
 }
 #jobformheader {
  background-color: #EFE;
 }
</style>
</head>
<body>

<div id="jobtemplate" style="display:none">
<div class="job">
<b class="jobnumber"></b><b class="jobdelbutton">[-]</b> id: <input type="text" name="id">
{% trans "time" %}: <input type="text" name="time">
{% trans "iffail" %}: <input type="text" name="iffail">
</div>
</div>


<div id="mkdirtemplate" style="display:none">
<div class="operation">
{% trans "mkdir" %}:<b class="mkdirstart">[+]</b><input type="text" name="name" value="mkdir" style="display:none">
{% trans "server" %}:<input type="text" name="server">
{% trans "path" %}:<input type="text" name="path">
{% trans "owner" %}:<input type="text" name="owner">
{% trans "group" %}:<input type="text" name="group">
{% trans "mode" %}:<input type="text" name="mode">
</div>
</div>


<div id="filetransfertemplate" style="display:none">
<div class="operation">
{% trans "filetransfer" %}:<b class=filetransferstart>[+]</b><input type="text" name="name" value="filetransfer" style="display:none">
{% trans "srcserver" %}:<input type="text" name="srcserver">
{% trans "srcpath" %}:<input type="text" name="srcpath">
{% trans "dstserver" %}:<input type="text" name="dstserver">
{% trans "dstpath" %}:<input type="text" name="dstpath">
{% trans "owner" %}:<input type="text" name="owner">
{% trans "group" %}:<input type="text" name="group">
{% trans "mode" %}:<input type="text" name="mode">
</div>
</div>


<div id="deletefiletemplate" style="display:none">
<div class="operation">
{% trans "deletefile" %}:<b class=deletefilestart>[+]</b><input type="text" name="name" value="deletefile" style="display:none">
{% trans "server" %}:<input type="text" name="server">
{% trans "filepath" %}:<input type="text" name="filepath">
</div>
</div>


<div id="execshelltemplate" style="display:none">
<div class="operation">
{% trans "execshell" %}:<input type="text" name="name" value="execshell" style="display:none">
{% trans "server" %}:<input type="text" name="server">
{% trans "path" %}:<input type="text" name="path">
{% trans "user" %}:<input type="text" name="user">
{% trans "background" %}:
<select name="background">
<option value="yes">yes</option>
<option value="no">no</option>
</select>
</div>
</div>

<div id="editcrontemplate" style="display:none">
<div class="operation">
{% trans "editcron" %}:<b class=editcronstart>[+]</b><input type="text" name="name" value="editcron" style="display:none">
{% trans "operation" %}:
<select name="operation">
<option value="add">{% trans "add" %}</option>
<option value="del">{% trans "del" %}</option>
</select>
{% trans "server" %}:<input type="text" name="server">
{% trans "user" %}:<input type="text" name="user">
{% trans "minute" %}:<input type="text" name="minute">
{% trans "hour" %}:<input type="text" name="hour">
{% trans "day" %}:<input type="text" name="day">
{% trans "month" %}:<input type="text" name="month">
{% trans "dayofweek" %}:<input type="text" name="dayofweek">
{% trans "command" %}:<input type="text" name="command">
</div>
</div>

<div id="editattemplate" style="display:none">
<div class="operation">
{% trans "editat" %}:<b class=editatstart>[+]</b><input type="text" name="name" value="editat" style="display:none">
{% trans "oparation" %}:
<select name="operation">
<option value="add">{% trans "add" %}</option>
<option value="del">{% trans "del" %}</option>
</select>
{% trans "server" %}:<input type="text" name="server">
{% trans "user" %}:<input type="text" name="user">
{% trans "minute" %}:<input type="text" name="minute">
{% trans "hour" %}:<input type="text" name="hour">
{% trans "day" %}:<input type="text" name="day">
{% trans "month" %}:<input type="text" name="month">
{% trans "year" %}:<input type="text" name="year">
{% trans "command" %}:<input type="text" name="command">
</div>
</div>


<div id="mountnfstemplate" style="display:none">
<div class="operation">
{% trans "mountnfs" %}:<input type="text" name="name" value="mountnfs" style="display:none">
{% trans "operation" %}:
<select name="operation">
<option value="add">{% trans "add" %}</option>
<option value="del">{% trans "del" %}</option>
</select>
{% trans "servername" %}:<input type="text" name="servername">
{% trans "mountpoint" %}:<input type="text" name="mountpoint">
{% trans "mountoption" %}:<input type="text" name="mountoption">
{% trans "nfsserver" %}:<input type="text" name="nfsserver">
{% trans "exportpath" %}:<input type="text" name="exportpath">
</div>
</div>


<div id="execsqltemplate" style="display:none">
<div class="operation">
{% trans "execsql" %}:<input type="text" name="name" value="execsql" style="display:none">
{% trans "dbname" %}:<input type="text" name="dbname">
{% trans "filename" %}:<input type="text" name="filename">
</div>
</div>

<div id="modifyuserostemplate" style="display:none">
<div class="operation">
{% trans "modifyuseros" %}:<b class=modifyuserosstart>[+]</b><input type="text" name="name" value="modifyuseros" style="display:none">
{% trans "operation" %}:
<select name="operation">
<option value="add">{% trans "add" %}</option>
<option value="del">{% trans "del" %}</option>
</select>
{% trans "server" %}:<input type="text" name="server">
{% trans "username" %}:<input type="text" name="username">
{% trans "firstname" %}:<input type="text" name="firstname">
{% trans "lastname" %}:<input type="text" name="lastname">
{% trans "groups" %}:<input type="text" name="groups">
</div>
</div>

<div id="passwdresetostemplate" style="display:none">
<div class="operation">
{% trans "passwdresetos" %}:<b class=passwdresetosstart>[+]</b><input type="text" name="name" value="passwdresetos" style="display:none">
{% trans "server" %}:<input type="text" name="server">
{% trans "username" %}:<input type="text" name="username">
</div>
</div>



<div id="modifydnstemplate" style="display:none">
<div class="operation">
{% trans "modifydns" %}:<b class=modifydnsstart>[+]</b><input type="text" name="name" value="modifydns" style="display:none">
{% trans "operation" %}:
<select name="operation">
<option value="add">{% trans "add" %}</option>
<option value="del">{% trans "del" %}</option>
</select>
FQDN:<input type="text" name="fqdn">
{% trans "ipaddr" %}:<input type="text" name="ipaddr">
</div>
</div>

<div id="addfirewallpolicytemplate" style="display:none">
<div class="operation">
{% trans "addfirewallpolicy" %}:<input type="text" name="name" value="addfirewallpolicy" style="display:none">
{% trans "srcaddress" %}:<input type="text" name="srcaddress">
{% trans "srcnetmask" %}:<input type="text" name="srcnetmask">
{% trans "destaddress" %}:<input type="text" name="destaddress">
{% trans "destnetmask" %}:<input type="text" name="destnetmask">
{% trans "applicationname" %}:<input type="text" name="applicationname">
{% trans "policy_then" %}:<input type="text" name="policy_then">
</div>
</div>



<div id="otherstemplate" style="display:none">
<div class="operation">
{% if not settings.use_svg_form %}
{% trans "others" %}:<input type="text" name="name" value="others" style="display:none">
{% trans "filename" %}:<input type="text" name="filename">
{% else %}
{% trans "others" %}:<input type="text" name="name" value="others" style="display:none">
<svg width="300px" height="100px">
 <rect x="0" y="10" width="10" height="30" fill="#0000ff" stroke="#000000"/>
 <circle cx="230" cy="15" r="10" fill="#00ff00" fill-opacity="0.5"/>
 <foreignObject x="20" y="0" width="200" height="50">
   <body xmlns="http://www.w3.org/1999/xhtml">
    {% trans "filename" %}: <input type="text" name="filename">
   </body>
 </foreignObject>
</svg>
{% endif %}
</div>
</div>


<div id="sleepandexceptiontemplate" style="display:none">
<div class="operation">
(testonly)sleep and exception:<input type="text" name="name" value="sleepandexception" style="display:none">
sleep(sec):<input type="text" name="sleep">
Exception(yes or no):
<select name="exception">
<option value="yes">yes</option>
<option value="no">no</option>
</select>
</div>
</div>


<form method="post" >
<div id="formcontrol">
<ul>
{% if user != None %}
 <li>
 user: {{user}}
 </li>
{% endif %}
 <li>
operation:<select id="sortofop" name="sortofop" onchange="addjob()">
<option value="dummy">Operation:</option>
<option value="mkdir"> {% trans "mkdir" %}</option>
<option value="filetransfer"> {% trans "filetransfer" %}</option>
<option value="deletefile"> {% trans "deletefile" %}</option>
<option value="execshell"> {% trans "execshell" %}</option>
<option value="editcron"> {% trans "editcron" %}</option>
<option value="editat"> {% trans "editat" %}</option>
<option value="mountnfs"> {% trans "mountnfs" %}</option>
<option value="execsql"> {% trans "execsql" %}</option>
<option value="modifyuseros"> {% trans "modifyuseros" %}</option>
<option value="passwdresetos"> {% trans "passwdresetos" %}</option>
<option value="modifydns"> {% trans "modifydns" %}</option>
<option value="addfirewallpolicy"> {% trans "addfirewallpolicy" %}</option>
<option value="others">{% trans "others" %}</option>
<option value="sleepandexception">(testonly)sleep-exception</option>
</select>
 </li>
</ul>
</div>
</form>



<form method="post" action="createjson" id="jobforms">{% csrf_token %} 

<div id="jobformheader">
{% trans "envcode" %}:
<select id="jobenvcode" name="jobenvcode">
 <option value="Prod">{% trans "Prod" %}</option>
 <option value="Dev">{% trans "Dev" %}</option>
</select>
{% trans "systemname" %}:<input id="jobapplcode" type="text" name="jobapplcode">
</div>

<div id="jobformdata">
</div>


<div id="jobformcontrol">
<input type="submit" value="save" class="btn btn-info" name="save" />
<input type="submit" value="exportjson" class="btn btn-info" name="createjson"/>
{% if role == "opsuser" %}
<input type="submit" value="execjson" class="btn btn-warning" name="execjson"/>
{% endif %}
</div>
</form>

<form method="get" action="clearcache" id="clearcache">{% csrf_token %} 
<input type="submit" value="clearcache" class="btn btn-info" name="clearcache" />
</form>

{% if user != None %}
<form method="post" action="dbsave" id="dbsave">{% csrf_token %} 
<input type="submit" value="dbsave" class="btn btn-info" name="dbsave" />
</form>
<form method="post" action="dbload" id="dbload">{% csrf_token %} 
<input type="submit" value="dbload" class="btn btn-info" name="dbload" />
{% if role == "manager" or role == "opsuser" %}
<input type="text" name="dbuser" />
{% if role == "manager" %}
<input type="submit" value="dbapprove" class="btn btn-warning" name="dbapprove" />
{% endif %}
{% endif %}
</form>
{% endif %}

<form method="get" action=".">
<input type="submit" value="load" class="btn btn-info" id="load_and_reload" />|drag-and-drop-json-here|
</form>
<input id="fileupload" type="file" name="putjson" data-url="load" style="display:none">

<a href="../../execjson/">logdir</a>
{% if role == "opsuser" %}
<a href="dashboard">dashboard</a>
{% endif %}

<script src="../static/main.js"></script>
<script>
{{sessionjs|safe}}
</script>
</body>
</html>
