<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title></title>
	<script src="../static/jquery-1.10.2.js"></script>
	<script src="../static/jquery-ui-1.10.4.custom.js"></script>
	<script>
	$(function() {
	 $( "#jobformdata" ).sortable();
	}); 
	</script>
<style>
 .job {
  background-color: #EFF;
  border: 1pt;
  border-color: #000;
 }
 .operation {
  background-color: #FFE;
  border: 1pt;
  border-color: #000;
  text-indent: 10px;
 }
 #formcontrol {
  background-color: #EEF;
 }
 #formkind {
  background-color: #FEE;
 }
 #jobformheader {
  background-color: #EFE;
 }
</style>
</head>
<body>

<div id="jobtemplate" style="display:none">
<div class="job">
<b class="jobnumber"></b>id: <input type="text" name="id">
実施時刻: <input type="text" name="time">
エラー時の対応: <input type="text" name="iffail">
</div>
</div>


<div id="mkdirtemplate" style="display:none">
<div class="operation">
ディレクトリ作成:<b class="mkdirstart">[+]</b><input type="text" name="name" value="mkdir" style="display:none">
サーバー:<input type="text" name="server">
パス:<input type="text" name="path">
オーナー:<input type="text" name="owner">
グループ:<input type="text" name="group">
権限:<input type="text" name="mode">
</div>
</div>


<div id="filetransfertemplate" style="display:none">
<div class="operation">
ファイル転送:<b class=filetransferstart>[+]</b><input type="text" name="name" value="filetransfer" style="display:none">
転送元サーバー:<input type="text" name="srcserver">
転送元ファイル:<input type="text" name="srcpath">
転送先サーバー:<input type="text" name="dstserver">
転送先ファイル:<input type="text" name="dstpath">
オーナー:<input type="text" name="owner">
グループ:<input type="text" name="group">
権限:<input type="text" name="mode">
</div>
</div>


<div id="deletefiletemplate" style="display:none">
<div class="operation">
ファイル削除:<b class=deletefilestart>[+]</b><input type="text" name="name" value="deletefile" style="display:none">
サーバー:<input type="text" name="server">
ファイルパス:<input type="text" name="filepath">
</div>
</div>


<div id="execshelltemplate" style="display:none">
<div class="operation">
シェル実行:<input type="text" name="name" value="execshell" style="display:none">
サーバー:<input type="text" name="server">
実行シェル:<input type="text" name="path">
実行ユーザー:<input type="text" name="user">
バックグラウンド実行:
<select name="background">
<option value="yes">yes</option>
<option value="no">no</option>
</select>
</div>
</div>

<div id="editcrontemplate" style="display:none">
<div class="operation">
cron登録削除:<b class=editcronstart>[+]</b><input type="text" name="name" value="editcron" style="display:none">
作業種別:
<select name="operation">
<option value="add">add</option>
<option value="del">del</option>
</select>
サーバー:<input type="text" name="server">
ユーザー:<input type="text" name="user">
分:<input type="text" name="minute">
時:<input type="text" name="hour">
日:<input type="text" name="day">
月:<input type="text" name="month">
曜日:<input type="text" name="dayofweek">
コマンド:<input type="text" name="command">
</div>
</div>

<div id="editattemplate" style="display:none">
<div class="operation">
at編集:<b class=editatstart>[+]</b><input type="text" name="name" value="editat" style="display:none">
作業種別:
<select name="operation">
<option value="add">add</option>
<option value="del">del</option>
</select>
サーバー:<input type="text" name="server">
実行ユーザー:<input type="text" name="user">
分:<input type="text" name="minute">
時:<input type="text" name="hour">
日:<input type="text" name="day">
月:<input type="text" name="month">
年:<input type="text" name="year">
コマンド:<input type="text" name="command">
</div>
</div>


<div id="mountnfstemplate" style="display:none">
<div class="operation">
NFSマウント・アンマウント:<input type="text" name="name" value="mountnfs" style="display:none">
作業種別:
<select name="operation">
<option value="add">追加</option>
<option value="del">削除</option>
</select>
動的マウント<select name="useautomount">
<option value="no">使用しない</option>
<option value="yes">使用する</option>
</select>
サーバー名:<input type="text" name="servername">
マウントポイント:<input type="text" name="mountpoint">
マウントオプション:<input type="text" name="mountoption">
NFSサーバー名:<input type="text" name="nfsserver">
エクスポートパス:<input type="text" name="exportpath">
</div>
</div>


<div id="execsqltemplate" style="display:none">
<div class="operation">
SQL実行:<input type="text" name="name" value="execsql" style="display:none">
DB名:<input type="text" name="dbname">
SQLファイル名:<input type="text" name="filename">
</div>
</div>

<div id="modifyuserostemplate" style="display:none">
<div class="operation">
ユーザー作成(OS):<b class=modifyuserosstart>[+]</b><input type="text" name="name" value="modifyuseros" style="display:none">
作業種別:
<select name="operation">
<option value="add">add</option>
<option value="del">del</option>
</select>
サーバー:<input type="text" name="server">
ユーザー名:<input type="text" name="username">
名前:<input type="text" name="firstname">
苗字:<input type="text" name="lastname">
所属グループ:<input type="text" name="groups">
</div>
</div>

<div id="passwdresetostemplate" style="display:none">
<div class="operation">
パスワードリセット(OS):<b class=passwdresetosstart>[+]</b><input type="text" name="name" value="passwdresetos" style="display:none">
サーバー:<input type="text" name="server">
ユーザー名:<input type="text" name="username">
</div>
</div>



<div id="modifydnstemplate" style="display:none">
<div class="operation">
DNS登録・削除:<b class=modifydnsstart>[+]</b><input type="text" name="name" value="modifydns" style="display:none">
作業種別:
<select name="operation">
<option value="add">追加</option>
<option value="del">削除</option>
</select>
FQDN:<input type="text" name="fqdn">
IPアドレス:<input type="text" name="ipaddr">
</div>
</div>

<div id="otherstemplate" style="display:none">
<div class="operation">
その他の作業:<input type="text" name="name" value="others" style="display:none">
ファイル名:<input type="text" name="filename">
</div>
</div>


<div id="sleepandexceptiontemplate" style="display:none">
<div class="operation">
(testonly)sleep and exception:<input type="text" name="name" value="sleepandexception" style="display:none">
sleep(sec):<input type="text" name="sleep">
Exception(yes or no):
<select name="exception">
<option value="yes">yes</option>
<option value="no">no</option>
</select>
</div>
</div>


<form method="post" >
<div id="formcontrol">
<ul>
 <li>
<input type="button" value="addjob" onclick="addjob()">
operation:<select id="sortofop" name="sortofop" onchange="addjob()">
<option value="dummy">Operation:</option>
<option value="mkdir"> ディレクトリ作成</option>
<option value="filetransfer"> ファイル転送</option>
<option value="deletefile"> ファイル削除</option>
<option value="execshell"> シェル実行</option>
<option value="editcron"> cron追加</option>
<option value="editat"> at追加</option>
<option value="mountnfs"> NFSマウント/アンマウント</option>
<option value="execsql"> SQL実行</option>
<option value="modifyuseros"> ユーザー登録・削除(OS)</option>
<option value="passwdresetos"> パスワードリセット(OS)</option>
<option value="modifydns"> DNS登録</option>
<option value="others">その他の作業</option>
<option value="sleepandexception">(testonly)sleep-exception</option>
</select>
 </li>
 <li>
<input type="button" value="deljob" onclick="deljob()">
delpos1:<input id="delpos1" type="text" name="delpos1">
 </li>
</ul>
</div>
</form>



<form method="post" action="createjson" id="jobforms">{% csrf_token %} 

<div id="jobformheader">
環境:
<select id="jobenvcode" name="jobenvcode">
 <option value="Prod">本番</option>
 <option value="Dev">開発検証</option>
</select>
システム名:<input id="jobapplcode" type="text" name="jobapplcode">
</div>

<div id="jobformdata">
</div>


<div id="jobformcontrol">
<input type="submit" value="save" name="save" />
<input type="submit" value="exportjson" name="createjson"/>
{% if role == "opsuser" %}
<input type="submit" value="execjson" name="execjson"/>
{% endif %}
</div>
</form>

<form method="get" action="clearcache" id="clearcache">{% csrf_token %} 
<input type="submit" value="clearcache" name="clearcache" />
</form>

<form method="post" action="load" id="putjson" enctype="multipart/form-data">{% csrf_token %} 
<input type="submit" value="load" name="load" />
<input type="file" name="putjson"/>
</form>
<a href="../../execjson">logdir</a>
{% if role == "opsuser" %}
<a href="dashboard">dashboard</a>
{% endif %}

<script src="../static/main.js"></script>
<script>
{{sessionjs|safe}}
</script>
</body>
</html>
